/* Custom CSS */
/* EXAMPLE CSS changes
.site-logo-main,
.site-container-title {
    margin-top: 10%;
}

.site-logo-search {
	 margin-bottom: 5%;
}

@media only screen and (max-width: 750px) {

    .site-logo-main {
        margin-right: 40px;
        margin-top: 40px;
    }

    .site-logo-search {
        padding-right: 40px;
        margin-left: -20px;
    }
}
*/